header, .project:not(:last-child) {
    padding: 1em;
    border-bottom: 2px solid #ccc;
    background-color: #065b83;
    display: flex;

  }

  .no-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #1b89bc;
    text-decoration: none;
    font-size: 100%;
  }

  .no-button:hover {
    color: #044969;
    text-decoration: underline;
  }

  nav {
    padding: 1em;
  }

  a:link {
    text-decoration: none;

  }